// Color Palette
$primary: #37474f;
$primary-light: #62727b;
$primary-dark: #102027;
$primary-text: #ffffff;

$secondary: #bbdefb;
$secondary-light: #eeffff;
$secondary-dark: #8aacc8;
$secondary-text: #000000;

$yellow: #fd892D;
$light-grey: #f0f0ee;
$lighter-grey: #f5f5f2;
$beige: #e7eedd;
$dark-grey: #2d2d1f;

// Screen Sizes
$screen__sm: 29em;
$screen__md: 61.875em;
$screen__lg: 1300px;
$screen__xl: 1800px;
$screen__xxl: 2300px;

// Font Weights
$light: 300;
$medium: 400;
$regular: 500;
$bold: 700;
$black: 900;

$navbar-height: 5em;

$section__title-size--lg: 48px;
$section__title-size--md: 36px;
$section__title-size--sm: 32px;
